<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('.question') %></th>
      <th scope="col"><%= t('.gist_url') %></th>
      <th scope="col"><%= t('.user') %></th>
    </tr>

    <%= render @gists %>
  </thead>
</table>
