<% if success_rate >= 85 %>
  <h2>Succes! You've completed the test! Percents: <span style="color: green;"><%= success_rate %>%</span></h2>
<% else %>
  <h2>Defeat! You have not completed the test! Percents: <span style="color: red;"><%= success_rate %>%</span></h2>
<% end %>
