<% if @test_passage.successful? %>
  <h2><%= t('.success') %><span class="success">
    <%= @test_passage.success_rate %>%</span></h2>
<% else %>
  <h2><%= t('.fail') %><span class="fail">
    <%= @test_passage.success_rate %>%</span></h2>
<% end %>
