<footer>
  <p><a href="http://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a> по созданию, управлению и прохождению тестов.</p>
  <p><%= current_year %> год</p>
  <p>Автор: София Битно</p>
  <p><%= github_url('SofiBit', 'test-guru')%></p>
</footer>
