<footer>
  <p><a href="http://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a> по созданию, управлению и прохождению тестов.</p>
  <p><%= Time.current.year %> год</p>
  <p>Автор: София Битно</p>
  <p><a href="https://github.com/SofiBit/test-guru">Проект TestGuru</a></p>
</footer>
