<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h1><%= question_header(@question) %></h1>

    <div class="card border-primary">
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
    <%= link_to t('app.back'), admin_test_path(@test) %>
  <div>
</div>
