<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h1><%= t('.create_new') %></h1>

    <div class="card border-primary">
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
    <p><%= link_to t('app.back'), admin_tests_path %></p>
  <div>
</div>
